{
  "presets": [
    [
      "es2015",
      {
        "loose": true
      }
    ],
    "es2016",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-react-jsx",
    "react-hot-loader/babel",
    "transform-object-rest-spread",

    "dev-expression",
    "transform-runtime",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "comments": false
}