{
  "presets": [
    [
      "es2015"
    ],
    "es2016",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-react-jsx",
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-runtime",
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "comments": false
}