.navbar.demo-nav {
  background-color: #ff3232;

  .navbar-header, .navbar-collapse {
    a {
      color: #ffffff
    }
  }

  margin-bottom: 0;

}

.container {
  padding: 20px 0 0 0;
  pre {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
}