.navbar.demo-nav {
  background-color: #ff3232;

  .navbar-header, .navbar-collapse {
    a {
      color: #ffffff
    }
  }

  margin-bottom: 0;

}

.container {
  padding: 20px 0 0 0;
  pre {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
}

.form-group {
  .input-container {
    position: relative;
    .loader {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 6px;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}